:root {
    --pink: #f9c0cd;
    --skyblue: #c3cff7;
    --navy: #192573;
    --diameter: 100px;
    --gap: 2em;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #181818;
    background-color: rgb(244 244 244);
}
p {
    margin-bottom: 0;
}
header {
    & > * {
        padding: 2em;
    }
    h1 {
        margin: 0;
        font-family: 'DM Serif Display', sans-serif;
        font-size: max(16vw, 7em);
        line-height: 1;
    }
    .grid p {
        margin: 1rem 0;
    }
    ul {
        padding-left: 0;
        list-style: none;
        margin-top: 0;
    }
    li {
        font-weight: 700;
        font-size: 2em;
    }
    li a {
        color: var(--navy);
        text-decoration: none;
    }
}
section {
    margin: 2em;
    padding: 2rem;
    background-color: white;
}
section h2 {
    margin: 0;
    font-size: 3em;
    font-family: 'DM Serif Text', sans-serif;
    font-weight: 700;
}
section {
    &.gap {
        gap: calc(var(--gap) * 2);
    }
    h2 {
        color: var(--darkcyan);
    }
    p {
        max-width: 600px;
    }
}

section:hover {
    h2 {
        background-color: rgb(240, 252, 255);
    }
    p:first-of-type {
        background-color: rgb(240, 240, 255);
    }
    p:nth-of-type(2) {
        background-color: rgb(238, 250, 255);
    }
    p:nth-of-type(3) {
        background-color: rgb(240, 240, 255);
    }
    p:nth-of-type(4) {
        background-color: rgb(238, 250, 255);
    }
    p:nth-of-type(5) {
        background-color: rgb(240, 240, 255);
    }
    div {
        background-color: rgb(240, 252, 255);
    }
}
section {
    & * {
        border: 1px solid transparent;
    }
    & > * {
        padding: 0.5em;
    }
    h2 {
        color: var(--darkcyan);
        padding-left: 0;
        padding-right: 10px;
    }
    p {
        margin: 0;
    }
}
footer {
    div {
        padding: 2rem;
        background-color: #c3cff7;
    }
    p {
        font-size: 3em;
        font-weight: 500;
        color: rgb(255, 255, 255);
        margin: 0;
        margin-top: 1rem;
        line-height: 1;
    }
    a {
        text-decoration: none;
    }
}